@model Vidly.ViewModels.CustomerFormViewModel

@{
    ViewBag.Title = "CustomerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(m => m.customer.name)
        @Html.TextBoxFor(m => m.customer.name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.customer.name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.customer.birthdate)
        @Html.TextBoxFor(m => m.customer.birthdate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.customer.birthdate)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.customer.membershipTypeId)
        @Html.DropDownListFor(m => m.customer.membershipTypeId, new SelectList(Model.membershipTypes, "id", "membershipName"), "Select Membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.customer.membershipTypeId)
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.customer.isSubscribedToNewsLetter) Subscribed to Newsletter?
        </label>
    </div>

    @Html.HiddenFor(m => m.customer.id);
    @Html.AntiForgeryToken()
    <button class="btn btn-primary" type="submit">Save</button>

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}